@page "/components/buttons"

<PageTitle>Components / Breadcrumbs</PageTitle>

<PageHeader Title="Breadcrumbs"
            Breadcrumbs="@_breadcrumb"/>

<div class="row">
    <div class="col-lg-6">
        <div class="mb-4">
            <Card Title="Default Buttons">
                <CardBody>
                    <Button Class="mb-2" 
                            Text="Primary"
                            ButtonColor="@ButtonColor.Primary"></Button>
                    <Button Class="mb-2"
                            Text="Secondary"
                            ButtonColor="@ButtonColor.Secondary"></Button>
                    <Button Class="mb-2"
                            Text="Success"
                            ButtonColor="@ButtonColor.Success"></Button>
                    <Button Class="mb-2"
                            Text="Danger"
                            ButtonColor="@ButtonColor.Danger"></Button>
                    <Button Class="mb-2"
                            Text="Warning"
                            ButtonColor="@ButtonColor.Warning"></Button>
                    <Button Class="mb-2"
                            Text="Info"
                            ButtonColor="@ButtonColor.Info"></Button>
                    <Button Class="mb-2"
                            Text="Light"
                            ButtonColor="@ButtonColor.Light"></Button>
                    <Button Class="mb-2"
                            Text="Dark"
                            ButtonColor="@ButtonColor.Dark"></Button>
                </CardBody>
            </Card>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>